* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #cfc2de;
}

h1 {
    font-size: 3.5em;
    color: rgb(32,118,179);
}

section {
    padding : 40px;
}

nav {
    padding : 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #a2cafd;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a2cafd;
    height: 60px;
}

footer p {
    margin: 0;
}

/* ======================== nav =====================*/

.container-fluid {
    margin-left: 50px;
}

nav ul {
    margin-right: 50px;
}
 
/* ======================== page Accueil =====================*/

.accueil-titre {
    margin-top: 10px;
    margin-left: 100px;
}

.accueil-site {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 70vh;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-top: 0;
}

.accueil-site h1 {
    margin-bottom: 50px;
}

.accueil-texte {
    display: flex;
    padding-right: 80px;
    text-align: left;
    flex-wrap: wrap;
    margin: auto;
}

.wallpaper img {
    max-width: 50vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: auto;
}

/* =========================== page présentation ==================*/

.presentation {
    text-align:justify;
    width: 80%;
    height: 80vh;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;

}

.presentation-h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 30px;
}

/* =========================== page Volumes =======================*/

.volumes-section {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    align-items: flex-start;
    margin: auto;
}

.champ-saisie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.champ-saisie input {
    width: 100px;
}

#chapter img {
    max-height: 70vh;
    max-width: 50vw;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 100px;
    margin-left: 100px;
}

.img-volume {
    padding-left: 30%;
    max-height: 20%;

}

.grid-volumes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px 400px;
    gap: 15px;
}

.grid-volumes img {
    width: 100%;
    height: 100%;
    /* Même si vous ne connaissez pas cette propriété, vous en aurez besoin pour permettre aux images de respecter les dimensions de la grid CSS */
    object-fit: cover;
}

/* ========================= page Contact ===============================*/

.contact {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    align-items: flex-start;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
}

.contact-title {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
}

.row {
    padding: 20px;
}

.send {
    padding-left: 20px;
}

/* Media Queries */
  
/* Pour les écrans jusqu'à 900px de large */
@media (max-width: 900px) {
section .accueil-site {
    flex-basis: calc(50% - 20px); /* Ajustez le 20px si votre gap est différent */
    flex-direction: column;
    width: auto;
}
}

/* Pour les écrans jusqu'à 600px de large */
@media (max-width: 600px) {

h1 {
    font-size: 2.5em;
    color: rgb(32,118,179);
}

.accueil-titre {
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0;


}
    
.accueil-site { 
    flex-basis: 100%;
    flex-direction: column;
    margin-top: 0;
    background-color: blue;
}

#wallpaper {
    height: auto;
    width: 100%;
}

footer, nav {
    width: 100%;
    background-color: red;
    font-size: 0.9em;
}
}